<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>Home</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar "></nav>
	<div class="container-fluid">
	<h2>Sistem Informasi Kepegawaian</h2>
	<h3>Selamat datang di Sistem Informasi Kepegawaian</h3>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h2>Lihat Data Pegawai berdasarkan NIP</h2>
				</div>
				<form th:action="@{/pegawai}" method="GET">
					<div class="card-body">
						<label for="nip">Masukkan Nomor Induk Pegawai</label>
						<input type="text" name="nip" class="form-control" />
						<p></p>
						<button type="submit" class="btn btn-primary">Cari</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h2>Lihat Detail Jabatan</h2>
				</div>
				<form th:action="@{/jabatan}" method="GET">
					<div class="card-body">
						<label class="control-label col-sm-2" for="idJabatan">Pilih Jabatan</label>
							<div class="col-sm-10">
								<select name="jabatan">
									<option th:each="jabatan : ${listOfJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}" name="jabatan">
									</option>
								</select>
							</div>
						<button type="submit" class="btn btn-primary">Lihat</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	</div>
</body>
</html>	