<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>Detail Pegawai</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar "></nav>
	<div id="Content" class="container-fluid">
	<h1 th:text="'Lihat Data Pegawai - ' + ${pegawai.getNip()}"></h1>
		<div class="row">
		<div class="col-md-6 mb-2 mt-3 ml-3">
			<div class="card">
				<div class="card-header text-dark" style="background-color: #cccccc;">
					<h3>Informasi Pegawai</h3>
				</div>
				<div class="card-body">
					<div class="row" name="rowNip">
						<div class="col">NIP: </div>
						<div class="col" th:text="${pegawai.getNip()}"></div>
					</div>
					
					<div class="row" name="rowNama">
						<div class="col">Nama: </div>
						<div class="col" th:text="${pegawai.getNama()}"></div>
					</div>
					
					<div class="row" name="rowTempatLahir">
						<div class="col">Tempat Lahir</div>
						<div class="col" th:text="${pegawai.getTempatLahir()}"></div>
					</div>
					
					<div class="row" name="rowTanggalLahir">
						<div class="col">Tanggal Lahir</div>
						<div class="col" th:text="${pegawai.getTanggalLahir()}"></div>
					</div>
					
					<div class="row" name="rowTahunMasuk">
						<div class="col">Tahun Masuk</div>
						<div class="col" th:text="${pegawai.getTahunMasuk()}"></div>
					</div>
					
					<div class="row" name="rowInstansi">
						<div class="col">Nama Instansi</div>
						<div class="col" th:text="${pegawai.getInstansi().getNama()} + ' ' + ${pegawai.getInstansi().getProvinsi().getNama()}"></div>
					</div>
					
					<div class="row" name="rowJabatan">
						<div class="col">Jabatan</div>
						<div class="col">
							<ul>
								<li th:each="jabatan : ${pegawai.getJabatanList()}">
									<div th:text="${jabatan.getNama()}"></div>
								</li>
							</ul>
						</div>
					</div>
					
					<div class="row" name="rowGaji">
						<div class="col">Gaji: </div>
						<div class="col" th:text="'Rp' + ${#numbers.formatInteger(pegawai.getGaji(), 0)}"></div>
					</div>
					
					<div align="center">
						<a th:href="@{/pegawai/ubah/} + ${pegawai.getNip()}" class="btn btn-primary mt-4">Ubah</a>
					</div>
				
			</div>
		</div>
		</div>
	</div>
</body>
</html>